<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>316649471598-i59ibhj4v17651u9ib5rat915602v454.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316649471598-i59ibhj4v17651u9ib5rat915602v454</string>
	<key>API_KEY</key>
	<string>AIzaSyD08G_ApNiXtK8hMJcvD9_BrKHCHdH-1RU</string>
	<key>GCM_SENDER_ID</key>
	<string>316649471598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FlatironSchool-CarrotCoat</string>
	<key>PROJECT_ID</key>
	<string>carrotcoat-9dd0f</string>
	<key>STORAGE_BUCKET</key>
	<string>carrotcoat-9dd0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:316649471598:ios:12512393996743b9</string>
	<key>DATABASE_URL</key>
	<string>https://carrotcoat-9dd0f.firebaseio.com</string>
</dict>
</plist>