<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1038217839011-69o933ltcovfess4ohk4rrd2q7fvnmkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038217839011-69o933ltcovfess4ohk4rrd2q7fvnmkm</string>
	<key>API_KEY</key>
	<string>AIzaSyDiV4kFyTvUsueRa-gbQsDYVXp1dyHp-2w</string>
	<key>GCM_SENDER_ID</key>
	<string>1038217839011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flatironschool.team-carrot-coat</string>
	<key>PROJECT_ID</key>
	<string>newcarrots</string>
	<key>STORAGE_BUCKET</key>
	<string>newcarrots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038217839011:ios:348eb6822d402b25</string>
	<key>DATABASE_URL</key>
	<string>https://newcarrots.firebaseio.com</string>
</dict>
</plist>